body {
	color: #ffffff;
	background-color: #000000;
	margin: 0px;
	overflow: hidden; font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	text-align:center;
}

a {
	color:#0078ff;
}
ul.contents {
	list-style: none;
	padding-left: 0px;
}

ul.contents li {
}

div.message_box {
	left: 0%;
	right: 0%;
	top: 5%;
	z-index: 100;
	position: fixed;
}
div.message_box span {
	background-color: #000000;
	padding: 1em 1em 1em 1em;
	opacity: 0.6;
}
			

